body{
    font-family: "Times New Roman";
    margin: auto;
    background-color: aliceblue;
    font-size: 150%;
}

h1{
    font-family: Impact;
    text-align: center;
    font-size: 300%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    background-color: rgb(255, 73, 73);
}

h2{
    border-bottom: solid 3px black;
}

button, option, select{
    font-family: "Times New Roman";
    font-size: 100%;
    background-color: rgb(212, 243, 243);
    border: 1px solid rgb(73, 137, 255);
    margin: 0 3px;
}

p{
    margin: 0;
}

footer{
    text-align: center;
    margin-top: 10px;
}

.actionClicked:active{
    background-color: rgb(73, 137, 255);
    color: white;
}

.buttons{
    text-align: center;
}

.selection{
    margin: 10px auto;
}

.control, .selection{
    display: flex;
    justify-content: center;
}

.export{
    margin: 10px auto;
}

.canvas{
    margin: 3% auto;
    text-align: center;
    line-height: 0px;
    white-space: nowrap;
}

.reset{
    color: rgb(255, 0, 0);
}

.pixel{
    background-color: rgb(150, 150, 150);
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}

.clicked{
    background-color: white;
}

.active{
    display: inline-block;
}

.inactive{
    display: none;
}

.about{
    text-align: left;
    margin: 3% auto;
    width: 50%;
}

.lang{
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 5px #ffbe32;
}

