body{
    font-family: cursive;
    margin: auto;
    background-color: aliceblue;
    font-size: 120%;
}

h1{
    text-align: center;
    font-size: 300%;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: rgb(255, 73, 73);
}

button, option, select{
    font-family: cursive;
    font-size: 100%;
    background-color: rgb(212, 243, 243);
    border: 1px solid rgb(73, 137, 255);
}

button:active{
    background-color: rgb(73, 137, 255);
    color: white;
}

.buttons{
    text-align: center;
}

.selection{
    margin: 10px auto;
}

.export{
    margin: 10px auto;
}

#js-table{
    margin: 3% auto;
    text-align: center;
    line-height: 0px;
    white-space: nowrap;
}

#js-reset{
    color: rgb(255, 0, 0);
}

.pixel{
    background-color: rgb(150, 150, 150);
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid black;
    display: inline-block;
}

.clicked{
    background-color: white;
}

.active{
    display: inline-block;
}

.inactive{
    display: none;
}

.explain{
    text-align: left;
    margin: 3% auto;
    width: 50%;
}

.lang{
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 5px #ffbe32;
}

h2{
    border-bottom: solid 3px black;
}

footer{
    text-align: center;
    margin-top: 10px;
}
