body{
    margin: auto;
    background-color: aliceblue;
}

h1{
    text-align: center;
    font-size: 300%;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: rgb(255, 73, 73);
}

.main{
    margin: auto 10%;
}

.buttons{
    text-align: center;
}

.selection{
    margin: 10px auto;
}

.control{
    
}

.export{
    margin: 10px auto;
}

#js-table{
    margin: 5% auto;
    text-align: center;
    line-height: 0px;
}

.pixel{
    background-color: rgb(150, 150, 150);
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid black;
    display: inline-block;
}

.clicked{
    background-color: white;
}

.active{
    display: inline-block;
}

.inactive{
    display: none;
}
